
.gitattributes
*.meta
*.unity
*.cache
*.json
*.bin
*.scene
*.ttf
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.lighting
*.props
*.fbx
*.mat
*.wav
*.mp3
*.prefab
*.txt
*.PNG
*.controller
*.aab
*.apk
*.keystore
Temp/
 
Obj/
 
UnityGenerated/
ProjectSettings/ 
Library/

build/
Assets/Animation/

Assets/Materials/
Assets/Import/
Assets/Resources/
Assets/Scenes/
Assets/Shaders/
Assets/Sprite/
Assets/Sound/
Assets/Prefab/
Assets/TextMesh Pro/
Assets/GooglePlayGames/
Assets/Plugins/
Assets/ExternalDependencyManager/
Assets/GoogleMobileAds/
Logs/
UserSettings/
.vs/
*.lighting
.vsconfig
